
/shelf/
/workspace.xml


.idea/*

src/main/resources/*
src/main/test/*
src/compiler.xml
src/encodings.xml
src/jarRepositories.xml
src/misc.xml
src/test/java/org/example/AppTest.java

target/*
*.class
*.war
*.jar
*.ear
*.iml
